#snippet-list {
	font: 100% Arial, FreeSans, sans-serif;
}

#snippet-preview {
	border: 2px solid #ddd;
	padding: 5px;
	width: auto;
	height: 60%;
	overflow: auto;
}

#snippet-list p {
	font-size: 85%;
	padding-top: 5px;
}

#snippet-list > label {
	display: block;
}

#snippet-list .snippet-buttons input {
	margin-top: 5px;
	margin-right: 5px;
}

#snippet-list .snippet-box {
	width: auto;
	padding: 5px;
}

#snippet-folder-layout {
	width: 15%;
	height: 85%;
	display: inline-block;
	float:	left;
	overflow-x: auto;
	white-space: nowrap;
	font-size: 75%;
}

#snippet-folder-layout .folder:hover {
	background-color: SkyBlue;
}

#snippet-folder-layout span.marker {
	color: gold;
}

#snippet-folder-layout span.marker.opened {
	color: red;
}

#snippet-browser {
	height: 85%;
	width: 80%;
	overflow: auto;
	border: 2px solid #ddd;
	display: inline-block;
}

#snippet-browser .snippet-box > div {
	float: left;
}

#snippet-browser .snippet-box > a {
	width: 5%;
	margin-left: 5px;
}

#snippet-browser .snippet-browser-radio {
	width: 5%;
	height: auto;
	float: left;
}

#snippet-browser .snippet-browser-title {
	width: 30%;
	overflow: hidden;
	height: auto;
	text-overflow: ellipsis;
}

#snippet-browser .snippet-browser-desc {
	width: 50%;
	padding-left: 10px;
	height: auto;
}

#snippet-browser div.highlight {
	background-color: SkyBlue;
}

#snippet-browser .snippet-folder-link.highlight {
	background-color: #ddd;
}

#snippet-browser div.snippet-folder-link {
	padding: 5px;
	cursor: pointer;
}

#snippet-browser div.snippet-folder-link > span{
	background: no-repeat transparent 0px -644px url(../../contenttypes-sprite.png);
	padding-left: 35px;
	margin-left: 2px;
	padding-top: 4px;
}

#snippet-info {
	font-size: 75%;
	display: inline-block;
	border: 2px solid #ddd;
	padding: 5px;
	margin-top: 5px;
}

#snippet-browser .snippet-folder {
	margin-left: 20px;
	display: block;
}

#snippet-browser .snippet-folder .empty {
	color: #ddd;
}

#snippet-browser label {
	display: block;
}

#snippet-info input {
	display: block;
	margin-top: 5px;
}

.snippet-frame-container {
	height: 100%;
}